PORT=3000
JWT_SECRET=random-string-jwt-token-secret
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
POSTGRES_DB=app
POSTGRES_PORT=5433
POSTGRES_DB_TEST=${POSTGRES_DB}-test
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
DATABASE_TEST_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}-test